body{
	background: #f70b0b47;
}
.Calender {
    width: 350px;
    height: 450px;
    background: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 7px 3px #a2a2a2;
    border-radius: 10px;
}
.cal-top{
	width: 100%;
	height: 200px;
	background-image: url("1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.cal-top .img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #999;
	overflow: hidden;
	position: absolute;
	top: 5px;
	right: 5px;
}
.cal-top .img img{
	width: 100%;
}
.cal-middel{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 2px solid #777;
	box-shadow: inset 0px 0px 20px 0px #777;
	position: absolute;
	top: 159px;
	left: 129px;
}
.cal-middel span{
	margin-left: 10px;
	font-size: 20px;
	text-align: center;
	color: black;
	position: absolute;
	top: 25px;
}
table {
    width: 100%;
    margin-top: 68px;
    text-align: center;
    border-top: 4px solid #777;
    padding-top: 8px;
}
td {
    font-size: 20px;
    font-weight: normal;
    font-family: monospace;
    transition: 0.5s;
    cursor: pointer;
}
td:hover{
	background: #000;
	color: #ddd;
	border-radius: 40px
}
.first td{
	font-weight: bolder;
	border-bottom: 3px solid #888;
	background: #a7a7a7;
}
.opasity{
	opacity: 0.3;
}
.red{
	background: red;
	color: #fff;
	border-radius: 50%;
}